<a href="/pardavejai/edit">Pridėti naują</a>
<ul>
    {{#each sarasas}}
    <li><a href="/pardavejai/edit/{{id}}">{{pavadinimas}}</a> <a href="/pardavejai/delete/{{id}}">X</a></li>
    {{/each}}
</ul>
<a href="/">Back</a>